<div class="img"></div>
<div class="countdown-container">
    <h1>Navidad <span>Cuenta regresiva</span></h1>
    <div class="countdown-items">
      <div class="countdown-item">
        <div class="countdown-circle">
          <span>{{ days }}</span>
        </div>
        <p class="countdown-label">Días</p>
      </div>
      <div class="countdown-item">
        <div class="countdown-circle">
          <span>{{ hours }}</span>
        </div>
        <p class="countdown-label">Horas</p>
      </div>
      <div class="countdown-item">
        <div class="countdown-circle">
          <span>{{ minutes }}</span>
        </div>
        <p class="countdown-label">Minutos</p>
      </div>
      <div class="countdown-item">
        <div class="countdown-circle">
          <span>{{ seconds }}</span>
        </div>
        <p class="countdown-label">Segundos</p>
      </div>
    </div>
  </div>
  
  