.img{
    background: url('../../assets/images/fondo0.png')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0px 20px;
    text-align: center;
}

.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.720);
}
.center .sub_title{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.720);
}

.center .btns{
    margin-top: 20px;
}
.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    outline: none;
    transition: all 0.3s ease;
}
.center .btns button:first-child{
    color: #fff;
    background: none;
}
.center .btns button:first-child:hover{
    color: #1b1b1b;
    background: #fff;
}
.center .btns button:last-child{
    color: #1b1b1b;
    background: #fff;
}