
<nav>
  <a routerLink="/" routerLinkActive=""><img src="/assets/images/logo1.png" alt=""></a>
  <a routerLink="/" routerLinkActive="">Home</a>
  <a routerLink="/about" routerLinkActive="active-link">About</a>
  <a routerLink="/posts" routerLinkActive="active-link">Posts</a>
  <a routerLink="/users" routerLinkActive="active-link">Users</a>
  <div>
    <i class="fa-solid fa-circle-user"></i>
  </div>
</nav>

<div class="contenedor">
  <router-outlet></router-outlet>
</div>


<!-- <app-user-list></app-user-list> -->
