
.contenedor{
  padding: 5%;
}

img{
  width: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  }

  /* Estilos para los enlaces del navbar */
  nav a {
    color: white; 
    text-decoration: none; 
    padding: 8px 16px; 
    margin: auto;
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }

  /* Estilos al pasar el ratón por encima de los enlaces */
  nav a:hover {
    border-bottom: solid 4px #926e42; 
  }

  /* Estilo para el enlace activo */
.active-link {
    border-bottom: solid 4px #926e42; 
  }
  

.fa-circle-user{
  color: #926e42;
  height: 30px;
  margin-right: 10px;
}