//- views//main-layout.pug
doctype html
html
  head
    title Mi Sitio
    link(rel="stylesheet", href="/css/style.css")
    // Otras etiquetas meta, enlaces a CSS, etc.
  body
    include header
    
    block content
    footer
      p Derechos reservados © 2023
